   <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        每一个终点都令人回味，而每一个起点都值得赞颂
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009-2011</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        同一个城市、同一个大学，不同国家、不同领域、不同专业，学习、旅行、阅读、设计与生活，我们起步向同一个方向走，每一种体验都造就了未来的你我他。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>
                                        April 2012
                                    </h4>
                                    <h4 class="subheading">
                                        Meet in An Agency
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        将技能和个人爱好转化为职业方向，会议、新媒体、APP、交互、头脑风暴，线上线下，设计与发展，网络上的个体空间从此不孤单，我们的相遇为未来奠定了发展的基础。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>
                                        March 2014
                                    </h4>
                                    <h4 class="subheading">
                                        Transition to Full Service
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        微信、微博、豆瓣，贴吧、百度、知乎、Facebook、Linkedin、Twitter、Nice。。。新的自媒体让我们不停追逐，SEM&amp;SEO让我们知道要做的更好就得发展更多的技能，响应式网站链接所有接口，整合营销不再是一个冰冷的Marketing词汇，而是互联网和移动互联网热气腾腾的全方位服务。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>
                                        September 2014
                                    </h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        将创业与生活结合在一起，业务和公益同时推进，小伙伴们可以开始自我管理，远程办公，remote让我们更加自由，也更能兼顾更多的方向，高效业务，多倍人生，每一种体验都值得琢磨，精彩永不嫌多。
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>In future</h4>
                                    <h4 class="subheading">Be with digital</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> 来吧，成为我们故事的重要元素</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

