   <!-- Clients Aside -->
    <aside class="clients">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <img src="/img/logos/skyrun.jpg" class="img-responsive img-centered" alt="中国天空跑">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <img src="/img/logos/sfa.png" class="img-responsive img-centered" alt="法国SFA">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <img src="/img/logos/fosun.png" class="img-responsive img-centered" alt="复星集团">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <img src="/img/logos/chefavour.jpg" class="img-responsive img-centered" alt="雪菲澳牛">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
              <div class="container">
                          <div class="row">
                              <div class="col-md-3 col-sm-6">
                                  <img src="/img/logos/iweekly.jpg" class="img-responsive img-centered" alt="iWeekly 周末画报">
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <img src="/img/logos/shly.jpg" class="img-responsive img-centered" alt="上海旅游局">
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <img src="/img/logos/app.jpg" class="img-responsive img-centered" alt="新西兰旅程">
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <img src="/img/logos/cmb.jpg" class="img-responsive img-centered" alt="招商银行">
                              </div>
                          </div>
                      </div>
            </div>
            <div class="item">
              <div class="container">
                          <div class="row">
                              <div class="col-md-3 col-sm-6">
                                  <img src="/img/logos/shanghaigm.jpg" class="img-responsive img-centered" alt="通用汽车">
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <img src="/img/logos/shanghaidas.jpg" class="img-responsive img-centered" alt="上海大众汽车">
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <img src="/img/logos/xinxilanlvcheng.jpg" class="img-responsive img-centered" alt="新西兰旅程">
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <img src="/img/logos/cklogo.jpg" class="img-responsive img-centered" alt="CK">
                              </div>
                          </div>
                      </div>
            </div>
          </div>
        </div>
        
    </aside>
  