   <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/logos/iweekly.jpg" class="img-responsive img-centered" alt="iWeekly 周末画报">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/logos/shly.jpg" class="img-responsive img-centered" alt="上海旅游局">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/logos/xinxilanlvcheng.jpg" class="img-responsive img-centered" alt="新西兰旅程">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/logos/harmonywatch.jpg" class="img-responsive img-centered" alt="亨吉利世界名表中心">
                    </a>
                </div>
            </div>
        </div>
    </aside>
  