    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">
                        为大公司解决新问题，为小公司解决大问题
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Design</h4>
                    <p class="text-muted">同步移动互联网趋势，一次成型,  让您的网站在不同版本的PC端、平板端和手机端呈现统一的效果，让您的的目标人群能得到最佳的网站使用体验，让响应式网站帮您打通六大移动营销入口：搜索引擎、微信、微博、APP、短信、二维码。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Integrated Marketing</h4>
                    <p class="text-muted">移动互联网时代整合从广告、促销、公关、直销、CI、包装、新闻媒体等一切传播活动，
让您能够将更加统一而清晰的传播资讯传达给目标消费人群。
帮助您统一最完整的营销策略，协调使用各种不同的互联网传播手段，
发挥不同传播工具的优势，实现营销宣传的低成本化，以高强冲击力形成campaign的高潮。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Zi Media</h4>
                    <p class="text-muted">建自媒体，是微信、微博、豆瓣，贴吧，还是百度直达号？更高逼格的还有知乎、Facebook、Linkedin、Intergram，Nice，~~更接地气的还有空间、天涯、人人、花瓣、猫扑~~~让wizDigtal协助你建立你特有的自媒体资产吧，带你一起Bigger一起飞！</p>
                </div>
            </div>
        </div>
    </section>
