<!DOCTYPE html>
<html>
  {% include head.html %}

<body id="page-top" class="index">
  {% include nav.html %}
    <!-- Portfolio Modal 1 -->
    <section id="portfolio" class="bg-light-gray">
        <div class="post container" id="portfolio">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>{{ page.title }}</h2>
                        {% if page.sub-title %}
                        <h4 class="item-intro text-muted">{{ page.sub-title }}</h4>
                        {% endif %}
                        <p class="item-intro text-muted">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                        {% if page.img-header %}
                        <img class="img-responsive img-centered" src="/img/posts/{{ page.img-header }}" alt="">
                        {% endif %}
                        {{ content }}
                    </div>
                    <div class="jiathis_style">
                        <span class="jiathis_txt">分享到：</span>
                        <a class="jiathis_button_weixin">微信</a>
                        <a class="jiathis_button_fb">Facebook</a>
                        <a class="jiathis_button_twitter">Twitter</a>
                        <a class="jiathis_button_tsina">新浪微博</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}
    {% include js.html %}
    <!-- JiaThis Button BEGIN -->
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=" charset="utf-8"></script>

</body>
</html>

